
.cart_content{
    height: 1300px;
    background-color: #E6E6E6;
}

.content_sign{
    margin-left: 25px;
    margin-right: 25px;

}
.content_sign1{
    width: 75%;
    height: 250px;
    background-color: white; 
    position: absolute;
    top: 120px;
    display: flex;
}

.content_sign1 h2{
    margin-top: 60px;   
}

.content_sign1_box a{
    margin-top: 10px;
    text-decoration: none; 
    font-size: 0.95rem;
    color:cadetblue;
}

.contentSign{
    background-color:#febd68;
    border: none ;
    margin-top: 20px;
    font-size: 0.95rem;
    color: black;
    border-radius: 5px;
}

.contentSign a{
    color: black;

}
.content_sign2{
    width: 75%;
    height: 100px;
    background-color: white; 
    margin-top: 20px;
    position: absolute;
    top: 370px;
}
.content_signup{
    margin-left: 10px;
     border: 0.3px solid black;
      border-radius: 5px;
}

.products{
    width: 20%;
    height: 1240px;
    background-color: white;
    position: absolute;
    right: 25px;
    top: 120px;
    border-radius: 5px;
}
.img1{
    height: 130px;
    display: flex;
    margin: 10px 0px 15px 0px;
}
.NewInternationalProductsButton{
    background-color:#febd68;
    border: none ;
    font-size: 0.95rem;
    color: black;
    border-radius: 5px;
}

.new_customer_freguently_purchased{
    height: 365px;
    background-color: white; 

}

.end_sign{
    border-top: 0.1px solid black;
    border-bottom:0.1px solid black;
    height: 126px;
    background-color: white; 
    margin-bottom: 50px;
}

.inside_box{
    display: flex;
    margin: 60px ;
}
.inside_box1{
    margin-right: 50px;
}